:root {
    --white : hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --grayishblue: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);
}

*{
    margin:0;
    padding:0;
}


body{
    font-family: 'Outfit';
    font-size: 15px;
    background-color: var(--lightgray);
}
.container{
    background-color: var(--white);
    width:300px;
    align-items: center;
    margin: 20px auto;
    justify-content: center;
    padding:20px;
    border-radius:20px;
}
.main{
    display:flex;
    flex-direction: column;
    text-align: center;
}
.main img{
    border-radius:15px;
}
.main h3{
    font-weight: 700;
    padding: 20px 0;
    font-size:24px;
    color: var(--darkblue);
}
.main p{
    font-weight: 300px;
    padding: 0 20px ;
    color: var(--grayishblue);
}

/* navigation buttons code */

.buttons{
    display :flex;
    justify-content: space-around;
    width:300px;
    margin: auto;
    font-size: 18px;
    font-weight: 700;
}
.buttons a{
    text-decoration: none;
    color:white;
}

.buttons .back{
    background-color: hsl(218, 44%, 22%);
}
.buttons .next{
    background-color: hsl(219, 76%, 52%);
}
.buttons .home{
    background-color: hsl(0,0%,100%);
}
.buttons .home a{
    color:hsl(0, 0%, 25%);
}
.buttons .next,.back,.home{
    width:24%;
    text-align: center;
    padding:10px;
    border-radius: 5px;
}
.buttons .next:hover,.back:hover,.home:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}